<!DOCTYPE html>
<html ng-app="arcgis-map">
<head lang="en">
    <meta charset="UTF-8">
    <title>ArcGIS Map</title>
    <link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
    <style>
      .hiddenLayer{
          text-decoration: line-through;
          color:red;
      }
      .availabelLayer{
            text-decoration: none;
            color:green;
        }
    </style>
</head>
<body ng-controller="MapController">
<h2>Set Map Center and Zoom</h2>

<p>Basemap:
    <select ng-model="map.basemap">
        <option value="hybrid">Hybrid</option>
        <option value="gray">Gray</option>
        <option value="topo">Topographic</option>
        <option value="streets">Streets</option>
        <option value="satellite">Satellite</option>

        <option value="oceans">Oceans</option>
        <option value="national-geographic">National Geographic</option>
        <option value="osm">Open Street Map</option>
    </select>
    Lat: <input type="number" step="any" ng-model="map.center.lat"/>
    Lng: <input type="number" step="any" ng-model="map.center.lng"/>,
    Zoom:
    <select ng-model="map.zoom" ng-options="n for n in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]"></select>
</p>

<div style="border:1px solid green;margin-left:0;height:600px;width:200px;float:right;">

  <layer-widget mapid="myMapId"></layer-widget>


</div>



<div style="float:left;margin:0 auto;width:1000px;height:600px;border:2px solid red;">
    <arcgis-map layers="map.layers" mapid="myMapId" center="map.center" zoom="map.zoom" basemap="{{map.basemap}}" options="{{map.options}}">
       <arcgis-fetaure-layer url="http://services.arcgis.com/rOo16HdIMeOBI4Mb/arcgis/rest/services/Heritage_Trees_Portland/FeatureServer/0">

        </arcgis-fetaure-layer>

        <arcgis-fetaure-layer url="http://services.arcgis.com/rOo16HdIMeOBI4Mb/arcgis/rest/services/Portland_Parks/FeatureServer/0">

        </arcgis-fetaure-layer>

        <arcgis-fetaure-layer url="http://sampleserver3.arcgisonline.com/ArcGIS/rest/services/Hydrography/Watershed173811/MapServer/1">

        </arcgis-fetaure-layer>

        <arcgis-fetaure-layer url="http://sampleserver3.arcgisonline.com/ArcGIS/rest/services/Hydrography/Watershed173811/MapServer/0">

        </arcgis-fetaure-layer>
        <arcgis-fetaure-layer url="http://54.221.225.213/arcgis/rest/services/QuantumPlatform/Ambit_View/MapServer/0">

        </arcgis-fetaure-layer>





    </arcgis-map>
</div>


<script src="http://js.arcgis.com/3.13/"></script>
<script src="../bower_components/requirejs/require.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../src/services/mapRegistry.js"></script>
<script src="../src/directives/arcgisFeatureLayer.js"></script>
<script src="../src/directives/arcgisMap.js"></script>
<script src="../src/directives/layerWidget.js"></script>
<script src="../src/directives/layerItem.js"></script>

<script src="../src/directives/baseMap.js"></script>

<script src="testController.js"></script>

</body>
</html>