<div class="row">
    <div id="info">
        <legend>Select a shape then draw on map to add graphic</legend>
        <ul>
            <li><button id="Point">Point</button></li>
            <li><button id="Multipoint">Multipoint</button></li>
            <li><button id="Line">Line</button></li>
            <li><button id="Polyline">Polyline</button></li>
            <li><button id="FreehandPolyline">Freehand Polyline</button></li>
            <li><button id="Triangle">Triangle</button></li>
            <li><button id="Extent">Rectangle</button></li>
            <li><button id="Circle">Circle</button></li>
            <li><button id="Ellipse">Ellipse</button></li>
            <li><button id="Polygon">Polygon</button></li>
            <li><button id="FreehandPolygon">Freehand Polygon</button></li>
        </ul>
    </div>
</div>