<div class="progress" ng-hide="stoploading">
    <div class="indeterminate"></div>
</div>
<div class="row">

        <div class="input-field col s12">
            <i class="mdi-action-search prefix"></i>
            <input id="icon_prefix" type="text" class="validate" ng-model="searchFilterQuery">
            <label for="icon_prefix">Search Layer</label>
        </div>

</div>
<div class="row" ng-repeat="layer in layers | filter:layerFilter">
    <layer-item layer="layer"></layer-item>
</div>




