<div class="row claro">
    <div class="col s12" >
        <div id="navToolbarId">
            <div class="row">
                <div class="col s12 m6 l6"><a href="javascript:void(0)" id="zoomin" >Zoom In</a></div>

                <div class="col s12 m6 l6"><a href="javascript:void(0)" id="zoomout" >Zoom Out</a></div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6"><a href="javascript:void(0)" id="zoomfullext" >Full Extent</a></div>

                <div class="col s12 m6 l6"><a href="javascript:void(0)" id="zoomprev"  >Prev Extent</a></div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6"><a href="javascript:void(0)" id="zoomnext"  >Next Extent</a></div>

                <div class="col s12 m6 l6"><a href="javascript:void(0)" id="pan" >Pan</a></div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6"><a href="javascript:void(0)" id="deactivate" >Deactivate</a></div>
            </div>
        </div>
    </div>
</div>
<style>
    @import "http://js.arcgis.com/3.13/dijit/themes/claro/claro.css";

    .zoominIcon {
        background-image: url('../src/images/nav_zoomin.png');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }

    .zoomoutIcon {
        background-image: url('../src/images/nav_zoomout.png');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }

    .zoomfullextIcon {
        background-image: url('../src/images/nav_fullextent.png');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }

    .zoomprevIcon {
        background-image: url('../src/images/nav_previous.png');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }

    .zoomnextIcon {
        background-image: url('../src/images/nav_next.png');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }

    .panIcon {
        background-image: url('../src/images/nav_pan.png');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }

    .deactivateIcon {
        background-image: url('../src/images/nav_decline.png');
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
    }
</style>