<!DOCTYPE html>
<html  ng-app="arcgis-map">
<head lang="en">
    <meta charset="UTF-8">
    <title>ArcGIS Map</title>
    <link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
</head>
<body ng-controller="MapController">
<h2>Set Map Center and Zoom</h2>
<p>Basemap:
    <select ng-model="map.basemap">
        <option value="gray">Gray</option>
        <option value="topo">Topographic</option>
        <option value="streets">Streets</option>
        <option value="satellite">Satellite</option>
        <option value="hybrid">Hybrid</option>
        <option value="oceans">Oceans</option>
        <option value="national-geographic">National Geographic</option>
        <option value="osm">Open Street Map</option>
    </select>
    Lat: <input type="number" step="any" ng-model="map.center.lat" />
    Lng: <input type="number" step="any" ng-model="map.center.lng" />,
    Zoom:
    <select ng-model="map.zoom" ng-options="n for n in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]"></select>
</p>
<arcgis-map mapid="myMapId" center="map.center" zoom="map.zoom" basemap="{{map.basemap}}" ></arcgis-map>

<div id="myMapId"></div>

<script src="http://js.arcgis.com/3.13/"></script>
<script src="../bower_components/requirejs/require.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="arcgisMap.js"></script>
<script src="testController.js"></script>
</body>
</html>